/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*INDEX*/
@media only screen and (min-width: 320px) {
  .main-index-sugerencias {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .corousel-inner-index {
    height: 500px; }
    .corousel-inner-index .carrousel-inner-index__img {
      width: 200px;
      max-height: 200px; }
  .img-books-index {
    height: 200px;
    width: 150px;
    align-self: center; }
    .img-books-index .titles-books-index {
      align-self: center; }
  .main-index .div-container-susc .div-container-susc-h2 {
    color: #6610f2;
    font-size: 40px; } }

@media only screen and (min-width: 1024px) {
  body {
    font-family: "Jost", sans-serif; }
    body .a-index-header {
      font-size: 150%;
      height: 100px;
      color: #6610f2;
      text-decoration: none;
      background-color: none; }
    body a:hover {
      color: black; }
  body header .btn-header {
    color: white;
    background: #6610f2;
    font-weight: 10px;
    font-size: 20px; }
  body header .font-header {
    font-size: 20px;
    font-weight: bold; }
  hr {
    color: #3F47CC; }
  .main-index h1 {
    text-align: center;
    color: #6610f2; }
    .main-index h1 a {
      text-decoration: none; }
  .main-index .btn-main {
    color: white;
    background: #6610f2;
    font-weight: 10px;
    font-size: 20px; }
  .main-index .main-index-sugerencias {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .main-index-h2-prd {
    text-align: center;
    color: #3F47CC; }
    .main-index-h2-prd a {
      text-decoration: none; }
  .main-index-h2-sls {
    text-align: center;
    background-color: #3F47CC;
    color: white; }
  .corousel-inner-index {
    height: 500px; }
    .corousel-inner-index .carrousel-inner-index__img {
      width: 200px;
      max-height: 200px; }
  .main-index .div-index-img .img-books-index {
    height: 400px;
    width: 200px; }
  .main-index .div-index-img .img-books-index:hover {
    transform: scale(1.5, 1.5); }
  .main-index .div-container-susc .div-container-susc-h2 {
    color: #6610f2;
    font-size: 40px; } }

/*SUGERENCIAS*/
.main-sugerencias h1 {
  text-align: center;
  color: #6610f2; }

.main-sugerencias .main-sugerencias-subt {
  display: grid;
  font-size: 19px; }

.main-sugerencias .main-sugerencias-puesto-uno {
  display: grid;
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-items: center; }

.main-sugerencias h2 {
  font-size: 50px; }

.main-sugerencias .main-sugerencias-puestos {
  display: grid;
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-items: center; }

.main-sugerencias .sugerencia-img-puestos {
  height: 250px;
  width: 200px; }

/*GENEROS*/
.h1-generos, .main-generos-subtitles-h2 {
  text-align: center;
  color: #3F47CC; }

.main-generos-subtitles-h2 {
  text-align: center;
  background-color: #6610f2;
  color: white; }

.img-generos {
  height: 300px;
  width: 250px; }

.img-generos:hover {
  height: 350px;
  width: 300px; }

.titles-generos {
  font-size: 20px; }

.titles-generos:hover {
  color: #6610f2; }

/*ABOUT US*/
.main-aboutus h1 {
  text-align: center;
  color: #3F47CC; }

.main-aboutus p {
  margin: 10px;
  font-size: 20px; }

.main-aboutus .main-aboutus-info {
  display: grid;
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-items: center; }

.main-aboutus .aboutus-img {
  height: 300px;
  width: 500px; }

/*CONTACTO*/
.main-contacto {
  font-size: 20px; }
  .main-contacto .main-contacto-h1 {
    text-align: center;
    color: #6610f2; }
  .main-contacto .main-contacto-form {
    display: grid;
    list-style: none; }

.main-contacto-h3 {
  text-align: center; }

.btn-header {
  color: white;
  background-color: #6610f2;
  font-size: 15px; }

/*FOOTER*/
.footer {
  color: white;
  list-style-type: none;
  height: 300px;
  background: linear-gradient(to top, #6610f2, #3F47CC);
  list-style-type: none;
  text-align: center; }
  .footer div h2 {
    text-align: center; }
    .footer div h2 .footer-index-style {
      list-style-type: none; }
